.container {
  height: 100%;
  display: flex;
}

.descriptionSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hiContainer {
  gap: 2rem;
  margin-top: -4rem;
  display: flex;
  align-items: center;
}

.header {
  font-size: 30rem;
  font-weight: 900;
}

.subHeader {
  margin-top: -4rem;
  font-size: 10rem;
}

.aboutText {
  font-size: 5rem;
  font-weight: 300;
}

.linksList {
  gap: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.linksSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
